#option1, #option2, #option3, #option4, #option5, #result {
    display:none;
}

.grad {
  background-image: radial-gradient(#e68a00, white);
}

.form-check {
  font-family: "lucinda console";
}
h1 {
  text-align: center;
  font-size: 60px;
  font-family: "lucida console";
}

.result h2 {
  font-family: "lucinda console";
}
p {
  font-family: "lucida console"
  font-size: 25px;
}

#quiz h3 {
  font-family: "lucinda console"

}
